apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: demo-devops-python
  namespace: argocd
spec:
  project: default
  source:
    repoURL: 'https://github.com/juanesvelez/devsu'
    targetRevision: HEAD
    path: k8s
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: devsu-demo-devops-python-ns
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true