apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-devops-python
  namespace: devsu-demo-devops-python-ns
spec:
  replicas: 2
  selector:
    matchLabels:
      app: demo-devops-python
  template:
    metadata:
      labels:
        app: demo-devops-python
    spec:
      containers:
        - name: demo-devops-python
          image: ghcr.io/juanesvelez/devsu/demo-devops-python:bf80472fba2370b5186913f25742a3839a0f213c
          ports:
            - containerPort: 8000
          env:
            - name: DATABASE_NAME
              valueFrom:
                configMapKeyRef:
                  name: configmap-demo-devops-python
                  key: DATABASE_NAME
            - name: DJANGO_SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: secret-demo-devops-python
                  key: DJANGO_SECRET_KEY
          livenessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 60
            periodSeconds: 60
          readinessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 60
            periodSeconds: 60
          resources:
            requests:
              memory: 64Mi
              cpu: 250m
            limits:
              memory: 128Mi
              cpu: 500m# Temporary change to ensure commit
# Temporary change to ensure commit
# Temporary change to ensure commit
# Temporary change to ensure commit
# Temporary change to ensure commit
# Temporary change to ensure commit
# Temporary change to ensure commit
# Temporary change to ensure commit
# Temporary change to ensure commit
# Temporary change to ensure commit
# Temporary change to ensure commit
# Temporary change to ensure commit
# Temporary change to ensure commit
# Temporary change to ensure commit
# Temporary change to ensure commit
# Temporary change to ensure commit
# Temporary change to ensure commit
