resources:
  - deployment.yaml
  - service.yaml
  - hpa.yaml
  - virtualservice-demo-devops-python.yaml

configMapGenerator:
  - name: configmap-demo-devops-python
    literals:
      - DATABASE_NAME=db.sqlite3

# secretGenerator:
#   - name: secret-demo-devops-python
#     literals:
#       - DJANGO_SECRET_KEY=${DJANGO_SECRET_KEY}
      

generatorOptions:
  disableNameSuffixHash: true