name: CD Pipeline

on:
  workflow_run:
    workflows: ["CI Pipeline"]
    types:
      - completed

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Setup kubectl
      uses: azure/setup-kubectl@v1
      with:
        version: 'latest'

    - name: Install gke-gcloud-auth-plugin
      run: |
        sudo apt-get update && \
        sudo apt-get install -y apt-transport-https ca-certificates gnupg curl && \
        curl -fsSL https://packages.cloud.google.com/apt/doc/apt-key.gpg | gpg --dearmor -o /usr/share/keyrings/cloud.google.gpg && \
        echo "deb [signed-by=/usr/share/keyrings/cloud.google.gpg] https://packages.cloud.google.com/apt cloud-sdk main" | sudo tee -a /etc/apt/sources.list.d/google-cloud-sdk.list && \
        sudo apt-get update && \
        sudo apt-get install -y google-cloud-sdk google-cloud-sdk-gke-gcloud-auth-plugin kubectl

    - name: Authenticate to GKE
      uses: google-github-actions/auth@v0
      with:
        credentials_json: ${{ secrets.GCP_SA_KEY }}
    
    - name: Set up GKE
      run: |
        gcloud container clusters get-credentials gke-test --zone us-central1-a --project gcp-certification-pnal

    - name: Install Kustomize
      run: |
        curl -s "https://raw.githubusercontent.com/kubernetes-sigs/kustomize/master/hack/install_kustomize.sh" | bash
        sudo mv kustomize /usr/local/bin/

    - name: Generate Kustomize manifests
      run: kustomize build k8s > k8s/kustomized-manifest.yaml
      env:
        DJANGO_SECRET_KEY: ${{ secrets.DJANGO_SECRET_KEY }}

    - name: Apply Kustomize secrets
      run: kubectl apply -f k8s/kustomized-manifest.yaml

    - name: Install Argo CD CLI
      run: |
        curl -sSL -o /usr/local/bin/argocd https://github.com/argoproj/argo-cd/releases/latest/download/argocd-linux-amd64
        chmod +x /usr/local/bin/argocd

    - name: Login to Argo CD
      run: |
        kubectl port-forward svc/argocd-server -n argocd 8080:443 &
        sleep 10
        argocd login --insecure --grpc-web localhost:8080 --username admin --password ZxcVbnM2020!

    - name: Sync with Argo CD
      run: argocd app sync demo-devops-python